<h1>Peças</h1>
<!-- <div class="form-group">
  <label for="idPeca" class="label">idPeca:</label>
  <input type="text" nbInput fullWidth id="idPeca" placeholder="" [(ngModel)]="peca.idPeca">
</div><br/> -->
<div class="form-group">
  <label for="numero" class="label">numero:</label>
  <input type="text" nbInput fullWidth id="numero" placeholder="" [(ngModel)]="peca.numero">
</div><br/>
<div class="form-group">
  <label for="codigoFabrica" class="label">codigoFabrica:</label>
  <input type="text" nbInput fullWidth id="codigoFabrica" placeholder="" [(ngModel)]="peca.codigoFabrica">
</div><br/>
<div class="form-group">
  <label for="unidade" class="label">unidade:</label>
  <input type="text" nbInput fullWidth id="unidade" placeholder="" [(ngModel)]="peca.unidade">
</div><br/>
<div class="form-group">
  <label for="descricao" class="label">descricao:</label>
  <input type="text" nbInput fullWidth id="descricao" placeholder="" [(ngModel)]="peca.descricao">
</div><br/>
<div class="form-group">
  <label for="altura" class="label">altura:</label>
  <input type="text" nbInput fullWidth id="altura" placeholder="" [(ngModel)]="peca.altura">
</div><br/>
<div class="form-group">
  <label for="largura" class="label">largura:</label>
  <input type="text" nbInput fullWidth id="largura" placeholder="" [(ngModel)]="peca.largura">
</div><br/>
<div class="form-group">
  <label for="profundidade" class="label">profundidade:</label>
  <input type="text" nbInput fullWidth id="profundidade" placeholder="" [(ngModel)]="peca.profundidade">
</div><br/>
<div class="form-group">
  <label for="unidadeMedida" class="label">unidadeMedida:</label>
  <input type="text" nbInput fullWidth id="unidadeMedida" placeholder="" [(ngModel)]="peca.unidadeMedida">
</div><br/>
<div class="form-group">
  <label for="volumes" class="label">volumes:</label>
  <input type="text" nbInput fullWidth id="volumes" placeholder="" [(ngModel)]="peca.volumes">
</div><br/>
<nb-checkbox [(ngModel)]="peca.active">active</nb-checkbox><br/>
<div class="form-group">
  <label for="custo" class="label">custo:</label>
  <input type="text" nbInput fullWidth id="custo" placeholder="" [(ngModel)]="peca.custo">
</div><br/>
<div class="form-group">
  <label for="cor" class="label">cor:</label>
  <input type="text" nbInput fullWidth id="cor" placeholder="" [(ngModel)]="peca.cor">
</div><br/>
<div class="form-group">
  <label for="material" class="label">material:</label>
  <input type="text" nbInput fullWidth id="material" placeholder="" [(ngModel)]="peca.material">
</div><br/>
<div class="form-group">
  <label for="idFornecedor" class="label">idFornecedor:</label>
  <input type="text" nbInput fullWidth id="idFornecedor" placeholder="" [(ngModel)]="peca.idFornecedor">
</div><br/>
<div class="form-group">
  <label for="materialFabricacao" class="label">materialFabricacao:</label>
  <input type="text" nbInput fullWidth id="materialFabricacao" placeholder="" [(ngModel)]="peca.materialFabricacao">
</div><br/>
<div class="form-group">
  <label for="produtosPeca" class="label">produtosPeca:</label>
  <input type="text" nbInput fullWidth id="produtosPeca" placeholder="" [(ngModel)]="peca.produtosPeca">
</div><br/>

<button (click)="salvar()" nbButton status="primary">Salvar</button>

<br/><br/>

