<h1>Peça Edição <i class="fas pi pi-pencil"></i></h1>

<p-dialog header="Edite Peça" [(visible)]="displayDialog">
  <div class="form-group">
    <label for="descricao" class="label">Descrição:</label>
    <div class="input">
      <input type="text" pInput id="descricao" placeholder="" [(ngModel)]="peca.descricao">
    </div>
  </div>
  <div class="form-group">
    <label for="cor" class="label">Cor:</label>
    <div class="input">
      <input type="text" pInput id="cor" placeholder="" [(ngModel)]="peca.cor">
    </div>
  </div>
  <div class="form-group">
    <label for="material" class="label">Material:</label>
    <div class="input">
      <input type="text" pInput id="material" placeholder="" [(ngModel)]="peca.material">
    </div>
  </div>
  <div class="form-group">
    <label for="idFornecedor" class="label">ID Fornecedor:</label>
    <div class="input">
      <input type="text" id="idFornecedor" pInput [(ngModel)]="peca.produto.fornecedor.idFornecedor">
    </div>
  </div>
  <div class="form-group">
    <label for="nomeFornecedor" class="label">Nome do Fornecedor:</label>
    <div class="input">
      <input type="text" id="nomeFornecedor" pInput [(ngModel)]="peca.produto.fornecedor.nomeFornecedor">
    </div>
  </div>
  <div class="form-group button-group">
    <button (click)="editar()" pButton type="button" label="Editar" class="p-button p-button-primary"></button>
  </div>
  <br /><br />
</p-dialog>
