.form-group {
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  width: 30%;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}

.input {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.button-group {
  text-align: center;
}
