<div style="background-color: #6c757d; padding: 10px;">
  <h1 style="color: white; margin: 0;">Gerenciador de Peças</h1>
</div>
<div style="display: flex; flex-direction: row;">
  <div style="background-color: white; width: 300px; order: 1;">
    <app-panel-menu-basic-demo></app-panel-menu-basic-demo>
  </div>
  <div style="flex: 1; order: 2;">
    <router-outlet></router-outlet>
  </div>
</div>



<!-- <div style="display: flex; flex-direction: row;">
  <div style="background-color: white; width: 250px;">
    <app-basic-doc></app-basic-doc>
  </div>
  <div style="flex: 1;">
    <router-outlet></router-outlet>
  </div>
</div> -->


<!-- <div style="display: flex; flex-direction: row;">
  <div style="background-color: white; width: 250px;">
    <app-basic-doc></app-basic-doc>
  </div>
  <div style="flex: 1;">
    <router-outlet></router-outlet>
  </div>
</div> -->



<!-- <div style="display: flex; flex-direction: row;">
  <app-basic-doc style="flex: 1;"></app-basic-doc>
  <div style="flex: 3;">
    <router-outlet></router-outlet>
  </div>
</div> -->



<!-- <app-basic-doc></app-basic-doc>

<router-outlet></router-outlet> -->

<!-- 
<nb-layout>

  <nb-layout-header fixed>Gerenciamento de Peças e Pedidos</nb-layout-header>


  
  <nb-sidebar>
    <nb-card>
      <nb-menu [items]="items"></nb-menu>
    </nb-card>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout> -->



