<h1>Produto Lista <i class="fas fa-list"></i></h1>

<!-- <h1>Peças Lista</h1> -->

<div class="card">
    <p-table
        #dt2
        [value]="produtos" 
        [sortField]="'idProduto'"
        [sortOrder]="-1"
        [tableStyle]="{ 'min-width': '50rem' }" 
        [rows]="5" 
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }" 
        [rowHover]="true" 
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="flex">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>



                    <!-- <input pInputText type="text" (keyup)="onSearch($event)" placeholder="Search keyword" /> -->
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>

                <!-- <th>idProduto</th> -->
                <th>idProduto</th>
                <!-- <th>numero</th>
                <th>codigoFabrica</th>
                <th>unidade</th> -->
                <th>descricao</th>
                <!-- <th>altura</th>
                <th>largura</th> -->
                <!-- <th>profundidade</th>
                <th>unidadeMedida</th>
                <th>volumes</th>
                <th>active</th>
                <th>custo</th>
                <th>cor</th>
                <th>material</th>
                <th>idProduto</th>
                <th>materialFabricacao</th>
                <th>produtosProduto</th> -->
                <th></th>
            </tr>

            <tr>
                <th>
                    <p-columnFilter type="text" field="idProduto"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="nomeProduto"></p-columnFilter>
                </th>

                <th>
                </th>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{ produto.idProduto }}</td>
                <!-- <td>{{ produto.numero }}</td>
                <td>{{ produto.codigoFabrica }}</td>
                <td>{{ produto.unidade }}</td> -->
                <td>{{ produto.descricao }}</td>
                <!-- <td>{{ produto.altura }}</td>
                <td>{{ produto.largura }}</td> -->
                <!-- <td>{{ produto.profundidade }}</td>
                <td>{{ produto.unidadeMedida }}</td>
                <td>{{ produto.volumes }}</td>
                <td>{{ produto.active }}</td>
                <td>{{ produto.custo }}</td>
                <td>{{ produto.cor }}</td>
                <td>{{ produto.material }}</td>
                <td>{{ produto.idProduto }}</td>
                <td>{{ produto.materialFabricacao }}</td>
                <td>{{ produto.produtosProduto }}</td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editeProduto(produto)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduto(produto.idProduto)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>