<h1>Produto Novo <i class="fas pi pi-fw pi-plus"></i></h1>

<p-dialog header="Novo Produto" [(visible)]="displayDialog">
  <div class="form-group">
    <label for="nomeProduto" class="label">Produto:</label>
    <input type="text" pInput id="nomeProduto" placeholder="Guarda-roupa 3 portas" [(ngModel)]="produto.descricao">
  </div>

  <div class="form-group">
    <label for="fornecedor" class="label">Fornecedor:</label>
    <p-autoComplete [(ngModel)]="produto.fornecedor" [suggestions]="filteredFornecedors" (completeMethod)="searchFornecedors($event)" 
      [field]="'nomeFornecedor'" [dropdown]="true" placeholder="Selecione o fornecedor"></p-autoComplete>
  </div>

  <button (click)="salvar()" pButton type="button" label="Salvar" class="p-button-primary"></button>
</p-dialog>
