<h1>Produto Edição <i class="fas pi pi-fw pi-pencil"></i></h1>

<p-dialog header="Edite Produto" [(visible)]="displayDialog">
  <div class="p-fluid">
    <div class="p-field p-grid">
      <label for="nomeProduto" class="p-col-3">Produto</label>
      <div class="p-col-9">
        <input type="text" pInput id="nomeProduto" placeholder="Guarda-roupa 3 portas" [(ngModel)]="produto.descricao">
      </div>
    </div>

    <div class="p-field p-grid">
      <label for="fornecedor" class="p-col-3">Fornecedor</label>
      <div class="p-col-9">
        <p-autoComplete [(ngModel)]="produto.fornecedor" [suggestions]="filteredFornecedors" (completeMethod)="searchFornecedors($event)" 
          [field]="'nomeFornecedor'" [dropdown]="true" placeholder="Selecione o fornecedor"></p-autoComplete>
      </div>
    </div>

    <div class="p-d-flex p-jc-end">
      <p-messages [(value)]="msgs"></p-messages>
      <button (click)="editar()" pButton type="button" class="p-button-primary"><i class="pi pi-save"></i></button>
    </div>
  </div>
</p-dialog>
