<div class="page-title">
    <h1>{{ pageTitle }}</h1>
  </div>
  
  <p-dialog header="Editar" [(visible)]="displayDialog" [style]="{ 'max-width': '600px' }" (onHide)="onDialogHide()">
    <form [formGroup]="astecaForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="numero" class="label">Número:</label>
          <input type="text" id="numero" pInput formControlName="numero" [ngClass]="{ 'p-invalid': astecaForm.get('numero')?.invalid && astecaForm.get('numero')?.touched }">
          <small class="p-error" *ngIf="astecaForm.get('numero')?.invalid && astecaForm.get('numero')?.touched">Número é obrigatório e deve conter apenas dígitos.</small>
        </div>
      
        <div class="p-field button-group">
          <div class="p-field">
            <button pButton type="submit" class="p-button-primary" [disabled]="astecaForm.invalid" (click)="editar()"><i class="pi pi-save"></i>Editar</button>
        
            <button pButton type="button" class="p-button-secondary" (click)="cancelar()"><i class="pi pi-times"></i>Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>
  