.form-group {
    clear: both;
  }
  
  .label {
    display: block;
    float: left;
    width: 30%;
    padding-right: 10px;
    text-align: right;
    margin-right: 10px;
  }
  
  .input {
    float: right;
    width: 70%;
  }
  