<div class="page-title">
    <h1>{{ pageTitle }}</h1>
  </div>

<p-dialog header="Editar Fornecedor" [(visible)]="displayDialog" (onHide)="onDialogHide()">
    <form [formGroup]="fornecedorForm">
        <div class="p-fluid">
          <div class="p-field">
            <label for="nomeFornecedor" class="label">Fornecedor:</label>
            <input type="text" id="nomeFornecedor" placeholder="Empresa Alfa" pInput formControlName="nomeFornecedor" [ngClass]="{ 'p-invalid': fornecedorForm.get('nomeFornecedor')?.invalid && fornecedorForm.get('nomeFornecedor')?.touched }">
            <small class="p-error" *ngIf="fornecedorForm.get('nomeFornecedor')?.invalid && fornecedorForm.get('nomeFornecedor')?.touched">Nome do Fornecedor é obrigatório e deve conter apenas letras.</small>
          </div>
        </div>


        <!-- <div class="form-group">
            <label for="codigoFabrica" class="label">Fornecedor</label>
            <input type="text" pInput id="nomeFornecedor" placeholder="Empresa Alfa" [(ngModel)]="fornecedor.nomeFornecedor">
        </div> -->
    </form>
    
    <div class="p-field button-group">
        <div class="p-field">
            <button pButton type="submit" class="p-button-primary" [disabled]="fornecedorForm.invalid" (click)="editar()"><i class="pi pi-save"></i>Editar</button>
            <button pButton type="button" class="p-button-secondary" (click)="cancelar()"><i class="pi pi-times"></i>Cancelar</button>
        </div>
      </div>
</p-dialog>
    <br/><br/>
    
    
  