<h1>Fornecedor Novo <i class="fas pi pi-fw pi-plus"></i></h1>

<p-dialog header="Novo Fornecedor" [(visible)]="displayDialog">
    <!-- <div class="form-group">
        <label for="numero" class="label">idFornecedor:</label>
        <input type="text" pInput id="numero" placeholder="5654" [(ngModel)]="fornecedor.idFornecedor">
    </div> -->
    <div class="form-group">
        <label for="codigoFabrica" class="label">Fornecedor</label>
        <input type="text" pInput id="nomeFornecedor" placeholder="Empresa Alfa" [(ngModel)]="fornecedor.nomeFornecedor">
    </div>
    
    <button (click)="salvar()" pButton type="button"  class="p-button-primary"><i class="pi pi-save"></i></button>

    <br/><br/>
   
    
    
  